<!DOCTYPE html>
<html
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{common/layout.html}"
>
<div layout:fragment="content">
    <div>
        이 영역은 위에 검색이나 정렬이나,,,필요한 것들이 들어갈 예정
    </div>
    <div>
        <table>
            <tr>
                <th>#</th>
                <th>아이디</th>
                <th>채팅</th>
                <th>삭제</th>
            </tr>
            <tr th:each="userId, status : ${friendList}">
                <td th:text="${status.index+1}"></td>
                <td th:text="${userId}"></td>
                <td><a href="#">채팅</a></td>
                <td><button>삭제</button></td>
            </tr>
        </table>
    </div>
</div>